# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
myenv/

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# Jupyter Notebook
.ipynb_checkpoints

env/
venv/
ENV/

*.wav
*.tsv
*.csv


nepali/
ravdess/
Converted_Separately/
ne_np_female/
