# Core Backend

# Audio & ML
tensorflow
librosa
numpy
scikit-learn
soundfile
pydub
pandas


# For handling audio files
ffmpeg-python

# For recieving audio uploads
Pillow

# Communication APIs
twilio

# for backend 
flask